@font-face {
    font-family: 'metropolis_bold';
    src: url('Metropolis-Bold.otf');
}
@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Regular.otf');
}
@font-face {
    font-family: 'devonshire';
    src: url('Devonshire-Regular.ttf')
}
@font-face {
    font-family: 'croissantOne';
    src: url('CroissantOne-Regular.ttf')
}
@font-face {
    font-family: 'kaushan';
    src: url('KaushanScript-Regular.ttf');
}
@font-face {
    font-family: 'dancing';
    src: url('DancingScript-VariableFont_wght.ttf');
}



$title-font: metropolis_bold;
$primary-font: metropolis;

$primary-color: #579c87;
$text-color : #fdcb46;

body {
    position: relative;
    width: auto;
    margin: auto;
    width: 100%;
}

header {
    display: block;
    width: 100%;
    padding: 2% 0 2% 0;
    margin: auto;
    background-color: $primary-color;
}

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 1% 0 1% 0;
    margin-bottom: 0px;
    background-color: $primary-color;
    font-family: $primary-font;
    font-size: 1.5rem;
    position: fixed;
    a {
        text-decoration: none;
        color: $text-color;
    }
}

.footer__legal {
    width: auto;
    text-align: left;
    margin: auto 0 auto 3%;
} 

.footer__legal:hover, .footer__contact:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.footer__contact {
    width: auto;
    text-align: right;
    margin: auto 3% auto 0;
}

h1 {
    color: $text-color;
    text-align: center;
    font-family: $title-font;
    font-size: 4.5rem;
    letter-spacing: -3px;
}

span {
    color: $text-color;
}

section {
    margin-bottom: 5%;
}

.main {
    display: grid;
    height: auto;
}

.restaurants {
    display: grid;
    width: 1000px;
    margin: 45px auto 0 auto;
    grid-template-columns: 50% 50%; 
    
}

.restaurant__indexA, .restaurant__indexB, .restaurant__indexC, .restaurant__indexD {
    display: block;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 5px 5px #cccccc;
    margin: 0 auto 85px auto;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;  
}

.restaurant__indexA {
    background-color: #FCDFDB;
    &.restaurant__indexA:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .7;
    cursor: pointer;
    }
}

.restaurant__indexB {
    background-color: #fff5fe;
    &.restaurant__indexB:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .7;
    cursor: pointer;
    }
}

.restaurant__indexC {
    background-color: #eceeee;
    &.restaurant__indexC:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .7;
    cursor: pointer;
    }
}

.restaurant__indexD:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .7;
    cursor: pointer;
}


.indexA__name {
    color: #582F34;
    font-size: 3em;
    font-family: devonshire;
}

.indexA__menu {
    color: #582F34;
    font-size: 3em;
}

.bloc__indexA {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 85px;    
}

.indexB__name {
    color: #582F34;
    font-size: 1.8em;
    font-family: croissantOne;
}

.indexB__menu {
    color: #582F34;
    font-size: 3em;
}

.bloc__indexB {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;    
}

.indexC__name {
    color: #582F34;
    font-size: 2.5em;
    font-family: dancing;
}

.indexC__menu {
    color: #582F34;
    font-size: 3em;
}

.bloc__indexC {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;    
}

.indexD__name {
    color: #582F34;
    font-size: 2.5em;
    font-family: kaushan;
}

.indexD__menu {
    color: #582F34;
    font-size: 3em;
}

.bloc__indexD {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;    
}


.image--1, .image--2, .image--3, .image--4 {
    display: block;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 5px 5px #cccccc;
    margin: 0 auto 85px auto;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;    
}

.image--1:hover, .image--2:hover, .image--3:hover, .image--4:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .7;
}

.btn {
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: $primary-color;
    margin: 0 auto 50px auto;
    padding: 0 45px 0 45px;
    font-family: $primary-font;
    font-size: 1.5rem;
    .btn--comingsoon {
        text-align: center;
        vertical-align: center;
        color: $text-color;
    }
}

.menu__title {
    text-align: center;
    margin: 0 10px 0 10px;
}

.menu__title {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .9s;
  }
  
  .menu__title:hover {
    background-size: 100% 100%;
  }


.bottom__title {
    margin-top: 10%;
    text-align: center;
}

.menu, .menu1, .menu2, .menu3, .menu4 {
    width: auto;
    margin: auto auto auto auto;
    padding: 5% 7% 5% 7%;
    box-shadow: 0px 0px 5px 5px #cccccc;
    text-align: left;
    li {
        list-style: none;
    }
}

.feuille {
    display: flex;
    width: 100%;
    margin: 0 auto 0 0;
    text-align: center;
}

.prix {
    text-align: right;
    margin: 0 0 0 auto;
}

.liste-g {
    margin: 0 auto 0 -40px;
    text-align: left;
    
}

.trait__title {
    display: flex;
    width: 100%;
    margin: 0 auto 0 auto;
    justify-content: space-between;
    
}

.trait {
    width: 200px;
    margin: auto 0 auto 0;
}

.musicalnote {
    width: 15%;
    margin: 0 auto 0 41%;
}

.image--1 {
    display: block;
    
}

.menu1 {
    font-family: devonshire;
    font-size: 1.5em;
    background-color: #FCDFDB;
    color: #582F34;
}

.menu2 {
    font-family: croissantOne;
    background-color: #fff5fe;
    color: repeating-linear-gradient(red, yellow 10%, green 20%);
}

.menu3 {
    font-family: dancing;
    font-size: 1.5em;
    background-color: #eceeee;
}

.menu4 {
    font-family: kaushan;
}

.trait2.png {
    color: rgba(255, 0, 0, 0.5);
}

.musicalnote__index {
    width: 85px;
    margin: 0 auto 0 auto;
}

@media all and (max-width: 800px)
{
    .restaurants {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 50px auto 50px auto;
    }

    .image--1, .image--2, .image--3, .image--4 {
        margin: 50px auto 50px auto;
    }
}