@charset "UTF-8";
/*Font*/
@font-face {
  font-family: "metropolis_bold";
  src: url("font/Metropolis-Bold.otf");
}
@font-face {
  font-family: "metropolis";
  src: url("font/Metropolis-Regular.otf");
}
@font-face {
  font-family: "devonshire";
  src: url("font/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "croissantOne";
  src: url("font/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "kaushan";
  src: url("font/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "dancing";
  src: url("font/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "letters";
  src: url("font/Letters for Learners.ttf");
}
/*IMPORTS*/
/*STRUCTURE COLOR*/
/*RESTAURANT COLOR*/
/*SHADOW COLOR*/
/*VARIABLES POLICES*/
/*STRUCTURE*/
header {
  width: auto;
  padding: 2% 0 2% 0;
  margin: auto;
  background-color: #579c87;
}

body {
  position: relative;
  width: 100%;
  margin: auto;
}

section {
  margin-bottom: 5%;
}

.main {
  display: grid;
  height: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 1% 0 1% 0;
  margin-bottom: 0px;
  background-color: #579c87;
  font-family: metropolis;
  font-size: 1.5rem;
  position: fixed;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
}

/*TITRE*/
h1 {
  color: #fdcb46;
  text-align: center;
  font-family: metropolis_bold;
  font-size: 4.5rem;
  letter-spacing: -3px;
}
h1 a {
  text-decoration: none;
  color: #fdcb46;
}

/*FOOTER*/
.footerLegal {
  margin: auto 0 auto 3%;
}

.footerContact {
  margin: auto 3% auto 0;
}

.footerLegal:hover, .footerContact:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
span {
  color: #fdcb46;
}

/*BODY*/
/*RESTAURANTS ACCUEIL*/
.restaurants {
  display: grid;
  width: auto;
  margin: 45px auto 0 auto;
  grid-template-columns: 50% 50%;
}

.restaurantA, .restaurantB, .restaurantC, .restaurantD {
  display: block;
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 5px 5px #cccccc;
  margin: 0 25px 85px 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.musicalnoteIndex {
  width: 85px;
  margin: 0 auto 0 auto;
}

/*LA NOTE ENCHANTEE*/
.restaurantA {
  background-color: #FCDFDB;
}
.restaurantA.restaurantA:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
}

.indexAname {
  color: #582F34;
  font-size: 3em;
  font-family: devonshire;
}

.indexAmenu {
  color: #582F34;
  font-size: 3em;
  font-family: letters;
}

.blocIndexA {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 85px;
}
.blocIndexA a {
  text-decoration: none;
}

/*LE CHIC A LA FRANCAISE*/
.restaurantB {
  background-color: #fff5fe;
}
.restaurantB.restaurantB:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
}

.indexBname {
  color: #582F34;
  font-size: 1.8em;
  font-family: croissantOne;
  background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.indexBmenu {
  color: #cc6600;
  font-size: 3em;
  font-family: letters;
}

.blocIndexB {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
.blocIndexB a {
  text-decoration: none;
}

/*LE DELICE DES PAPILLES*/
.restaurantC {
  background-color: #eceeee;
}
.restaurantC.restaurantC:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
}

.indexCname {
  color: #582F34;
  font-size: 2.5em;
  font-family: dancing;
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.indexCmenu {
  color: #0887fb;
  font-size: 3em;
  font-family: letters;
}

.blocIndexC {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
.blocIndexC a {
  text-decoration: none;
}

/*LA PALETTE DU GOÛT*/
.restaurantD:hover {
  background-color: #FFFF;
}
.restaurantD:hover.restaurantD:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
}

.indexDname {
  color: #582F34;
  font-size: 2.5em;
  font-family: kaushan;
  background: linear-gradient(to right, #3d9339 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.indexDmenu {
  color: #72bf56;
  font-size: 3em;
  font-family: letters;
}

.blocIndexD {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
.blocIndexD a {
  text-decoration: none;
}

/*BOUTON PROCHAINEMENT*/
.btn {
  border-radius: 15px;
  background-color: #579c87;
  padding: 15px 15px;
  font-family: metropolis;
  font-size: 1.5rem;
  color: #fdcb46;
  margin: 0 auto 0 auto;
}
.btn:hover .pointA, .btn:hover .pointC, .btn:hover .pointB {
  display: inline-block;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-6 {
  animation-name: bounce-6;
  animation-timing-function: ease;
}

@keyframes bounce-6 {
  0% {
    transform: translateY(-7px);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-7px);
  }
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: ease;
}

@keyframes bounce-7 {
  0% {
    transform: translateY(-4px);
  }
  25% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}
.bounce-8 {
  animation-name: bounce-8;
  animation-timing-function: ease;
}

@keyframes bounce-8 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-7px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
/*MENUS*/
.menuTitletop {
  margin: 80px auto 50px auto;
  font-size: 2em;
}

.menuTitle, .menuTitleB, .menuTitleC, .menuTitleD {
  text-align: center;
  margin: 0 10px 4% 10px;
  font-size: 2em;
}

.categoryTitle, .categoryTitle-orange, .categoryTitle-purple, .categoryTitle-blue {
  margin: 0 25px 0 25px;
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.9s;
}

.categoryTitle:hover, .categoryTitle-orange:hover, .categoryTitle-purple:hover, .categoryTitle-blue:hover {
  background-size: 100% 100%;
}

.menu, .menu1, .menu2, .menu3, .menu4 {
  margin: auto auto auto auto;
  padding: 5% 7% 5% 7%;
  box-shadow: 0px 0px 5px 5px #cccccc;
  text-align: left;
}
.menu li, .menu1 li, .menu2 li, .menu3 li, .menu4 li {
  list-style: none;
}

.restaurantMenu, .restaurantMenuBottom {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6% 0;
  text-align: center;
  line-height: 2em;
}

.restaurantMenuresponsive, .restaurantMenuB-responsive {
  display: none;
}

.traitTitle {
  display: flex;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
}

.trait {
  width: 200px;
  margin: auto 0 auto 0;
}

.traitRight {
  width: 200px;
  margin: auto 0 auto 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.leftList {
  margin-left: -40px;
}

.leftList, .listOrange, .listPurple, .listBlue {
  text-align: left;
}

/*MENU - La note enchantée*/
.menu1 {
  font-family: devonshire;
  font-size: 1.5em;
  background-color: #FCDFDB;
  color: #582F34;
}

.titleBottommusic {
  display: inline-flex;
  margin: 0 auto 0 30%;
}

.bottomTitle {
  text-align: center;
  margin: 0 auto 0 15px;
}

.musicalnote {
  width: 15%;
  margin: 0 auto 0 41%;
}

.musicalNotebottom {
  width: 45px;
  height: 35px;
}

/*MENU - Le chic à la française*/
.menu2 {
  font-family: croissantOne;
  background-color: #fff5fe;
}

.menuTitleB {
  background: linear-gradient(to right, #d8852e 15%, #905bfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5% 0 15% 0;
}

.categoryTitle-orange, .listOrange, .priceOrange {
  color: #c67412;
}

.categoryTitle-purple, .listPurple, .pricePurple {
  color: #996699;
}

.categoryTitle-blue, .listBlue, .priceBlue {
  color: #6633cc;
}

.categoryTitle-orange, .categoryTitle-purple, .categoryTitle-blue {
  font-size: 1.3em;
}

.restaurantMenuB, .restaurantMenuBottomB {
  display: flex;
  width: 100%;
  margin-top: 3%;
  text-align: center;
}
.restaurantMenuB .leftList, .restaurantMenuB .priceB, .restaurantMenuBottomB .leftList, .restaurantMenuBottomB .priceB {
  line-height: 2.5em;
}

.priceOrange, .pricePurple {
  margin-left: auto;
  padding-right: 40px;
}

.listOrange, .listPurple, .listBlue, .priceOrange, .pricePurple {
  line-height: 3em;
}

/*MENU - Le délice des papilles*/
.menu3 {
  font-family: dancing;
  font-size: 1.5em;
  background-color: #eceeee;
}

.menuTitleC {
  background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5% 0 15% 0;
}

/*MENU - La palette du goût*/
.menu4 {
  background-color: #FFFF;
  font-family: kaushan;
  font-size: 1.1em;
}

.menuTitleD {
  background: linear-gradient(to right, #3d9339 0%, #bfff7e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5% 0 15% 0;
}

.price {
  text-align: right;
}

.priceB {
  margin-left: auto;
}

/*MENTTION LEGALE*/
.inDevelopment {
  display: block;
  margin: 10% auto 0 auto;
  font-size: 3rem;
  color: #579c87;
  text-align: center;
}

/*##  RESPONSIVE  ##*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .restaurants {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
  }

  .btn {
    margin-bottom: 5%;
  }
}
@media all and (max-width: 767px) {
  /*INDEX*/
  .restaurants {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
  }

  .btn {
    margin-bottom: 10%;
  }

  /*Menus*/
  .restaurantMenu, .restaurantMenuB {
    display: none;
  }

  .restaurantMenuresponsive, .restaurantMenuB-responsive, .restaurantMenuBottom, .restaurantMenuBottomB {
    display: flex;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  .priceResponsive {
    width: 100px;
    text-align: center;
    margin: 0 auto 0 auto;
    border: 1px solid grey;
  }

  .circle {
    border-radius: 100%;
  }

  .categoryTitle, .categoryTitle-orange, .categoryTitle-purple, .categoryTitle-blue {
    margin: 0 auto 0 auto;
    color: inherit;
    text-decoration: none;
    background: none;
    transition: none;
  }

  .leftList-responsive {
    width: 100%;
    margin: 3% auto 3% auto;
  }
  .leftList-responsive li {
    text-align: center;
    margin: 2% auto 2% auto;
  }
}
@media all and (max-width: 575px), all and (max-width: 375px) {
  /*INDEX*/
  .restaurants {
    width: 100%;
  }

  .restaurantA, .restaurantB, .restaurantC, .restaurantD {
    display: block;
    width: 80%;
    height: auto;
    padding: 0 15px;
    margin: 10% auto 10% auto;
  }

  .btn {
    font-size: 1.2rem;
    margin-bottom: 20%;
  }

  h1 {
    font-size: 2.5rem;
  }

  footer {
    font-size: 1.1rem;
  }

  .indexAname, .indexAmenu, .indexBname, .indexBmenu, .indexCname, .indexCmenu, .indexDname, .indexDmenu {
    font-size: 2rem;
    padding-bottom: 30%;
  }

  /*MENUS*/
  .menu1, .menu2, .menu3, .menu4 {
    box-shadow: none;
  }

  .musicalnote {
    margin-top: 25px;
  }

  .menuTitle {
    margin: 0;
  }

  .categoryTitle {
    margin: 50px auto 15px auto;
    border-bottom: 1px solid black;
  }

  .categoryTitle-orange, .categoryTitle-purple, .categoryTitle-blue {
    text-align: center;
    text-decoration: underline;
  }

  .categoryTitle-orange {
    color: #c67412;
  }

  .categoryTitle-purple {
    color: #996699;
    margin-left: auto;
    margin-right: auto;
  }

  .categoryTitle-blue {
    color: #6633cc;
  }

  .priceResponsive-orange {
    width: 100px;
    border: 1px solid #c67412;
    margin: 10px auto 25px auto;
  }

  .priceResponsive-purple {
    width: 100px;
    border: 1px solid #996699;
    margin: 10px auto 25px auto;
  }

  .priceBlue {
    width: 100px;
    border: 1px solid #6633cc;
    margin: 0 auto 0 auto;
  }

  .trait, .traitRight {
    display: none;
  }

  .main {
    width: auto;
  }

  .priceResponsive {
    margin: 10px auto 10px auto;
  }

  ul li {
    text-align: center;
    margin: 25px 0 25px 0;
  }

  .titleBottommusic {
    display: inline-flex;
    margin: 0 auto 0 auto;
  }
  .titleBottommusic .bottomTitle {
    margin-left: 25px;
  }

  .inDevelopment {
    display: block;
    margin: 50% auto auto auto;
    font-size: 2rem;
  }

  .leftList-responsive {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .leftList {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
