@font-face {
  font-family: "metropolis_bold";
  src: url("Metropolis-Bold.otf");
}
@font-face {
  font-family: "metropolis";
  src: url("Metropolis-Regular.otf");
}
@font-face {
  font-family: "devonshire";
  src: url("Devonshire-Regular.ttf");
}
@font-face {
  font-family: "croissantOne";
  src: url("CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "kaushan";
  src: url("KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "dancing";
  src: url("DancingScript-VariableFont_wght.ttf");
}
body {
  position: relative;
  width: auto;
  margin: auto;
  width: 100%;
}

header {
  display: block;
  width: 100%;
  padding: 2% 0 2% 0;
  margin: auto;
  background-color: #579c87;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 1% 0 1% 0;
  margin-bottom: 0px;
  background-color: #579c87;
  font-family: metropolis;
  font-size: 1.5rem;
  position: fixed;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
}

.footer__legal {
  width: auto;
  text-align: left;
  margin: auto 0 auto 3%;
}

.footer__legal:hover, .footer__contact:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.footer__contact {
  width: auto;
  text-align: right;
  margin: auto 3% auto 0;
}

h1 {
  color: #fdcb46;
  text-align: center;
  font-family: metropolis_bold;
  font-size: 4.5rem;
  letter-spacing: -3px;
}

span {
  color: #fdcb46;
}

section {
  margin-bottom: 5%;
}

.main {
  display: grid;
  height: auto;
}

.restaurants {
  display: grid;
  width: 1000px;
  margin: 45px auto 0 auto;
  grid-template-columns: 50% 50%;
}

.image--1, .image--2, .image--3, .image--4 {
  display: block;
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 5px 5px #cccccc;
  margin: 0 auto 85px auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.image--1:hover, .image--2:hover, .image--3:hover, .image--4:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
}

.btn {
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: #579c87;
  margin: 0 auto 50px auto;
  padding: 0 45px 0 45px;
  font-family: metropolis;
  font-size: 1.5rem;
}
.btn .btn--comingsoon {
  text-align: center;
  vertical-align: center;
  color: #fdcb46;
}

.menu__title {
  text-align: center;
}

.menu__title {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}

.menu__title:hover {
  background-size: 100% 100%;
}

.bottom__title {
  margin-top: 10%;
  text-align: center;
}

.menu, .menu1, .menu2, .menu3, .menu4 {
  width: auto;
  margin: auto auto auto auto;
  padding: 5% 7% 5% 7%;
  box-shadow: 0px 0px 5px 5px #cccccc;
  text-align: left;
}
.menu li, .menu1 li, .menu2 li, .menu3 li, .menu4 li {
  list-style: none;
}

.feuille {
  display: flex;
  margin: 0 auto 0 0;
  text-align: left;
}

.prix {
  text-align: right;
  margin: 0 0 0 auto;
}

.liste-g {
  margin: 0 auto 0 0;
  text-align: left;
}

.trait__title {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.trait {
  width: 200px;
  margin: auto 2% auto 2%;
}

.musicalnote {
  width: 15%;
  margin: 0 auto 0 41%;
}

.image--1 {
  display: block;
}

.menu1 {
  font-family: devonshire;
  font-size: 1.5em;
  background-color: #FCDFDB;
}

.menu2 {
  font-family: croissantOne;
  background-color: #fff5fe;
}

.menu3 {
  font-family: dancing;
  font-size: 1.5em;
  background-color: #eceeee;
}

.menu4 {
  font-family: kaushan;
}

@media all and (max-width: 800px) {
  .restaurants {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px auto;
  }

  .image--1, .image--2, .image--3, .image--4 {
    margin: 50px auto 50px auto;
  }
}

/*# sourceMappingURL=style.css.map */
